body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
}

.form-container {
  position: absolute;
  width: 250px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 250px;
  margin-bottom: 10px;
  label {
    font-size: 14px;
    color: grey;
  }
  input {
    flex-shrink: 0;
    height: 25px;
    border: 1px solid grey;
    border-radius: 5px;
    &:focus {
      outline: 1px solid rgb(76, 76, 76);
    }
  }
}

.form-button {
  width: 250px;
  height: 35px;
  margin-top: 15px;
  background-color: #edf1f4;
  border: 1px solid grey;
  border-radius: 10px;
  &:focus {
    outline: 1px solid rgb(76, 76, 76);
  }
}

.form-hint {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
  &.success {
    color: rgb(11, 134, 11);
  }
  &.fail {
    color: rgb(171, 15, 15);
  }
}

.product-content {
  width: 90vw;
  margin: 20px auto;
}

.product-button {
  float: right;
}

.product-table {
  width: 100%;
}

.btn {
  width: 100px;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #14537a;
  font-size: 0.9rem;
  color: white;
  cursor: pointer;
}

.table-btn {
  width: 70px;
  height: 28px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  &.delete {
    border: 1px solid rgb(127, 19, 19);
    color: rgb(127, 19, 19);
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  &.edit {
    border: 1px solid rgb(11, 108, 94);
    color: rgb(11, 108, 94);
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
}

.table-img {
  img {
    height: 30px;
  }
}

.btn-secondary {
  background-color: rgb(225, 225, 225);
}

.product-table {
  thead {
    tr {
      height: 35px;
      background-color: #dde9eb;
    }
    th {
      border-bottom: 1px solid rgb(192, 192, 192);
      vertical-align: middle;
    }
  }
  tbody {
    tr {
      height: 40px;
      &:nth-child(even) {
        background-color: #fafafa;
      }
    }
    td {
      border-bottom: 1px solid rgb(221, 221, 221);
      vertical-align: middle;
      text-align: center;
    }
  }

  .align-right {
    text-align: right;
  }

  .align-center {
    text-align: center;
  }

  .unactivate {
    color: red;
  }
  .activate {
    color: green;
  }
}

// Modal
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  min-height: 200px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}

.modal-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.modal-content {
  display: flex;
  gap: 40px;
  margin-top: 20px;
}

.modal-field {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 15px;
  & > label,
  & > p {
    width: 75px;
  }
  & > input {
    height: 25px;
    width: 295px;
  }
  & > textarea {
    resize: none;
  }
  & > button {
    width: 50px;
    height: 25px;
    border-radius: 5px;
    background-color: #ebebeb;
    border: 1px solid rgb(177, 177, 177);
    cursor: pointer;
  }
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.modal-btns {
  display: flex;
  justify-content: right;
  gap: 20px;
  button {
    width: 90px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    &.confirm {
      background-color: #a3cadc;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
    &.cancel {
      background-color: #ebebeb;
      border: 1px solid rgb(177, 177, 177);
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }
  }
}

// pagination
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0px;
  margin-top: 20px;
}

.pagination li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  border: 1px solid #dde9eb;
  color: rgb(69, 69, 69); 
  margin: 0 4px;
  border-radius: 5px;
}

.pagination li a.active {
  background-color: #dde9eb;
  color: rgb(69, 69, 69);
}

.pagination li a.disabled {
  color: #dddddd;
  cursor: not-allowed;
  pointer-events: none;
}